RCS
CVS
SCCS
,v
.svn
.git
_darcs
.cvsignore
Descrip.MMS
DESCRIP.MMS
descrip.mms
MANIFEST
MANIFEST.bak
Makefile
blib
MakeMaker-*
pm_to_blib.ts
pm_to_blib
blibdirs.ts
Build
_build
Build.bat
Build.COM
BUILD.COM
build.com
mod_perlite.o
mod_perlite.so
t/TEST
t/conf/apache_test_config.pm
t/conf/extra.conf
t/conf/httpd.conf
t/htdocs/index.html
t/logs
*~
*.old
*#
*.#
*.bak
*.tmp
*.rej
*.swp
.DS_Store
._*
cover_db
covered
META.yml
MYMETA.*
SIGNATURE
Log-Log4perl-Layout-PatternLayout-Elapsed-*.tar.gz
